body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .container {
    width: 60%;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .header {
    text-align: center;
    margin-bottom: 30px;
  }

  .header h1 {
    color: #0047ab;
    font-size: 3rem;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    color: #0047ab;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttons button {
    flex: 1;
    padding: 10px 20px;
    background-color: #0047ab;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .buttons button:first-child {
    margin-right: 10px;
  }


.formulario {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-spacing: 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario thead th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    width: 25%;
}

.formulario tbody th {
    background-color: #f9f9f9;
    padding: 10px 15px;
    text-align: left;
    align-items: center;
    text-align: center;
    width: 25%;
}

.formulario tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.formulario tr:last-child {
    border-bottom: none;
}

.formulario input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
}